@use "sass:color";

@mixin button-style($color) {
    color: #fff;
    border-color: $color;
    background-color: $color;

    &:hover,
    &:focus,
    &:active,
    &:active:focus,
    &:active:hover {
        background-color: color.adjust($color, $lightness: -20%);
        border-color: color.adjust($color, $lightness: -20%);
    }
}


// mixin
/* تعريف دالة Sass للتحكم بالزر */
@mixin button-styles($bg-color, $border-color) {
    background-color: $bg-color; // لون الخلفية
    border: 1px solid $border-color; // لون الحدود

    transition: all 0.3s ease; // تأثير الحركة

}